<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClustAE - Stratifying ALS Patients</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shorthandcss@1.1.1/dist/shorthand.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900&display=swap" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" /> -->

    <link rel="shortcut icon" href="">
    
    <style> 
        body { text-align: center;}
        input { 
            border: none; 
            outline: none; 
            padding: 5px; 
            border-bottom: 5px solid grey; 
        } 
        
        </style>
</head>

<body class="bg-black muli">
    <!--<input type="hidden" name="hidden_model" id='hidden_model'>-->
    <div class = "after w-100pc">
        <h3 class= "white">ALSFRS-R Questions</h3><br>
        <!--<form method = 'POST' action = "{{url_for('get_question_data')}} " id = 'form_questions'>-->
        <form method = 'POST' action = "/get_question_data" id = 'form_questions'>
            <div class ="float-left w-33pc">
                <h3 class="white">1st appointment</h3>
                <label class = "white" for="input_1_1">Speech</label><br>
                <input type="text" id="Q1_1" name="Q1_1" required><br>
                <label class = "white" for="input_1_2">Salivation</label><br>
                <input type="text" id="Q2_1" name="Q2_1" required><br>
                <label class = "white" for="input_1_3">Swallowing</label><br>
                <input type="text" id="Q3_1" name="Q3_1" required><br>
                <label class = "white" for="input_1_4">Handwriting</label><br>
                <input type="text" id="Q4_1" name="Q4_1" required><br>
                <label class = "white" for="input_1_5">Cutting food and handling utensils</label><br>
                <input type="text" id="Q5_1" name="Q5_1" required><br>
                <label class = "white" for="input_1_6">Dressing and hygiene</label><br>
                <input type="text" id="Q6_1" name="Q6_1" required><br>
                <label class = "white" for="input_1_7">Turning in bed and adjusting bed clothes</label><br>
                <input type="text" id="_1" name="Q7_1" required><br>
                <label class = "white"for="input_1_8">Walking</label><br>
                <input type="text" id="Q8_1" name="Q8_1" required><br>
                <label class = "white" for="input_1_9">Climbing stairs</label><br>
                <input type="text" id="Q9_1" name="Q9_1" required><br>
                <label class = "white" for="input_1_10">Dyspnea</label><br>
                <input type="text" id="Q10_1" name="Q10_1" required><br>
                <label class = "white" for="input_1_11">Orthopnea</label><br>
                <input type="text" id="Q11_1" name="Q11_1" required><br>
                <label class = "white"for="input_1_12">Respiratory insufficiency</label><br>
                <input type="text" id="Q12_1" name="Q12_1" required><br>
            </div>
    
            <div class ="float-left w-33pc">
            <h3 class="white"> 2nd appointment</h3>
            <label class = "white" for="input_2_1">Speech</label><br>
            <input type="text" id="Q1_2" name="Q1_2" required><br>
            <label class = "white" for="input_2_2">Salivation</label><br>
            <input type="text" id="Q2_2" name="Q2_2" required><br>
            <label class = "white" for="input_2_3">Swallowing</label><br>
            <input type="text" id="Q3_2" name="Q3_2" required><br>
            <label class = "white" for="input_2_4">Handwriting</label><br>
            <input type="text" id="Q4_2" name="Q4_2" required><br>
            <label class = "white" for="input_2_5">Cutting food and handling utensils</label><br>
            <input type="text" id="Q5_2" name="Q5_2" required><br>
            <label class = "white" for="input_2_6">Dressing and hygiene</label><br>
            <input type="text" id="Q6_2" name="Q6_2" required><br>
            <label class = "white" for="input_2_7">Turning in bed and adjusting bed clothes</label><br>
            <input type="text" id="Q7_2" name="Q7_2" required><br>
            <label class = "white"for="input_2_8">Walking</label><br>
            <input type="text" id="Q8_2" name="Q8_2" required><br>
            <label class = "white" for="input_2_9">Climbing stairs</label><br>
            <input type="text" id="Q9_2" name="Q9_2" required><br>
            <label class = "white" for="input_2_10">Dyspnea</label><br>
            <input type="text" id="Q10_2" name="Q10_2" required><br>
            <label class = "white" for="input_2_11">Orthopnea</label><br>
            <input type="text" id="Q11_2" name="Q11_2" required><br>
            <label class = "white"for="input_2_12">Respiratory insufficiency</label><br>
            <input type="text" id="Q12_2" name="Q12_2" required><br>
            </div>
    
            <div class ="float-left w-33pc">
            <h3 class="white"> 3rd appointment</h3>
            <label class = "white" for="input_3_1">Speech</label><br>
            <input type="text" id="Q1_3" name="Q1_3" required><br>
            <label class = "white" for="input_3_2">Salivation</label><br>
            <input type="text" id="Q2_3" name="Q2_3" required><br>
            <label class = "white" for="input_3_3">Swallowing</label><br>
            <input type="text" id="Q3_3" name="Q3_3" required><br>
            <label class = "white" for="input_3_4">Handwriting</label><br>
            <input type="text" id="Q4_3" name="Q4_3" required><br>
            <label class = "white" for="input_3_5">Cutting food and handling utensils</label><br>
            <input type="text" id="Q5_3" name="Q5_3" required><br>
            <label class = "white" for="input_3_6">Dressing and hygiene</label><br>
            <input type="text" id="Q6_3" name="Q6_3" required><br>
            <label class = "white" for="input_3_7">Turning in bed and adjusting bed clothes</label><br>
            <input type="text" id="Q7_3" name="Q7_3" required><br>
            <label class = "white"for="input_3_8">Walking</label><br>
            <input type="text" id="Q8_3" name="Q8_3" required><br>
            <label class = "white" for="input_3_9">Climbing stairs</label><br>
            <input type="text" id="Q9_3" name="Q9_3" required><br>
            <label class = "white" for="input_3_10">Dyspnea</label><br>
            <input type="text" id="Q10_3" name="Q10_3" required><br>
            <label class = "white" for="input_3_11">Orthopnea</label><br>
            <input type="text" id="Q11_3" name="Q11_3" required><br>
            <label class = "white"for="input12">Respiratory insufficiency</label><br>
            <input type="text" id="Q12_3" name="Q12_3" required><br>
        
            </div>
            <button class="mt-10 button bg-black fs-s1 white " type="submit" id="submit_questions">Submit</button>
        </form>
            </div>
    <!--<div id="formContainer" class="form-container"></div>-->
    <script src="../static/script_input.js"></script>
</body>